*{
    background-color: rgb(34, 233, 233);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    font-weight: bolder;
    color: firebrick;    
    background-color: greenyellow;
}

h2{
    background-color: greenyellow;
}

.Button_Main{
    background-color:greenyellow;
    width: 4cm;
    margin-left: 0.5 cm;
    margin-right: 0.5 cm;
    border-color: firebrick;
}

#cashAccount{
    color: firebrick;
    font-weight: bold;
}

#main_varstats{
    color: firebrick;
    font-weight: bold;
}

#topScore{
    color: firebrick;
    font-weight: bold;
}

#field_topScore{
    background-color: lemonchiffon;
    font-weight: bold;
}

#comment_topScore{
    font-weight: bold;
    color: firebrick;
    border: none;
}

#rules{
    font-weight: lighter;
    color: firebrick;
}

.status{
    font-weight: bold;
    color: crimson;
}

#rider_block{
    font-weight: bold;
    color: firebrick;
}


table, th, td {
    border: 1px solid black;
    color: firebrick;
  }

table{
  width: 100%;
  font-weight: bold;
}

.assign_rider_spec{
    background-color: lemonchiffon;
}

.stats{
    text-align: left;
    color: firebrick;
}

.rider{
    font-weight: bold;
    text-align: left;
    color: firebrick;
}

.group{
    color: firebrick;
    font-weight: bold; 
    border-radius: 4px;
    margin: 10px;
    display: block;
    position: relative;
    height: 30px;
    box-sizing: border-box;
    padding-right: 50px;
}

.group_text{
    margin: 2.5px;
    display: inline-block;
}

/* .subgroup{
    display: inline;
} */

#list_flow{
    color: firebrick;
    text-align: left;
}

#desc_orders{
    color: firebrick;
}

